@{
    ViewBag.Title = "toplantıya katılım listesi";
}
<h1 class="h4">toplantıya katılım listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>ad</td>
            <td>katılım durumu</td>
            <td>detay</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>buğra can</td>
            <td>evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">detay</a>
            </td>
        </tr>
                <tr>
            <td>burcu can</td>
            <td>evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">detay</a>
            </td>
        </tr>
    </tbody>
</table>