<h1>toplantıya katılım listesi</h1>
<table>
    <thead>
        <tr>
            <td>ad</td>
            <td>email</td>
            <td>katılım durumu</td>
            <td>detay</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>buğra can</td>
            <td>bugracanu@gmail.com</td>
            <td>evet</td>
            <td>
                <a href="#">detay</a>
            </td>
        </tr>
                <tr>
            <td>burcu can</td>
            <td>burcucanu@gmail.com</td>
            <td>evet</td>
            <td>
                <a href="#">detay</a>
            </td>
        </tr>
    </tbody>
</table>